{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">

            {% if pagination|length > 0 %}

            <div class="col-12 text-center">
                <h2 class="my-4">Latest exchange rates for date: {{ latestDate }}</h2>
                <p>Total rates in list ({{ pagination.getTotalItemCount }})</p>

                <table class="table table-hover">
                    <thead>
                    <tr class="table-info">
                        <th scope="col">Date</th>
                        <th scope="col">Currency</th>
                        <th scope="col">Short name</th>
                        <th scope="col">Value</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for rate in pagination %}
                    <tr>
                        <td scope="row">{{ rate.date|date("Y-m-d") }}</td>
                        <td class="text-left"><a title="Follow the link for rate details and historical rate values" href="{{ path('app_exchangerates_show', {id:rate.id}) }}">
                                {% for k, v in longNames|filter((v,k) => k == rate.shortName) -%}
                                    {{ v }}
                                {% endfor %}
                            </a></td>
                        <td>{{rate.shortName}}</td>
                        <td class="text-right">{{rate.rate}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {{ knp_pagination_render(pagination) }}
            </div>

            {% else %}

            <div class="col-12 text-center">
                <h2 class="my-4">Latest exchange rates</h2>
                <div class="alert alert-danger">
                    Database seems to be empty!
                </div>
                <p>To populate the database go to your Docker php container and execute following command:</p>
                <div class="alert alert-light border border-info" role="alert">
                    $ php bin/console load-rates
                </div>
                <p>Then refresh the page. </p>
            </div>

            {% endif %}

        </div>
    </div>

{% endblock %}