{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="my-4">Exchange rate for selected currency and historical values</h2>
                <p>Latest exchange rate details for selected currency</p>

                <div class="row">
                    <div class="col"></div>
                    <div class="col-3"></div>
                    <div class="col-3 alert alert-info">
                        {{ currAndRate.date|date("Y-m-d") }}
                    </div>
                    <div class="col-3"></div>
                    <div class="col"></div>
                </div>
                <div class="row text-center">
                    <div class="col">

                    </div>
                    <div class="col-3 alert alert-warning ">
                        {% for k, v in longNames|filter((v,k) => k == currAndRate.shortName) -%}
                            {{ v }}
                        {% endfor %}
                    </div>
                    <div class="col-3 alert alert-warning mx-2">
                        {{currAndRate.shortName}}
                    </div>
                    <div class="col-3 alert alert-warning text-info font-weight-bold">
                        {{currAndRate.rate}}
                    </div>
                    <div class="col">

                    </div>
                </div>

            </div>
        </div>

    <div class="row">
        <div class="col-12 text-center mt-4">
            <p>Historical exchange rate values</p>

            <table class="table table-hover">
                <thead>
                    <tr class="table-info">
                        <th scope="col">Date</th>
                        <th scope="col">Currency</th>
                        <th scope="col">Short name</th>
                        <th scope="col">Value</th>
                    </tr>
                </thead>
                <tbody>

                {% for rate in histRates %}
                    <tr>
                        <td scope="row">{{ rate.date|date("Y-m-d") }}</td>
                        <td class="text-left">
                                {% for k, v in longNames|filter((v,k) => k == rate.shortName) -%}
                                    {{ v }}
                                {% endfor %}
                            </td>
                        <td>{{rate.shortName}}</td>
                        <td class="text-right">{{rate.rate}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
        <p>
            <a class="btn btn btn-outline-info" href="{{ path('app_home') }}" role="button">Back to list</a>
        </p>
    </div>



{% endblock %}